
#addressNpay input.ng-invalid.ng-touched{
    border: 2px solid red;
}

::placeholder{
    color: burlywood;
}

.green {
    background-color: green;
}

.red {
    background-color: red;
}

#goBack{
    position: absolute;
    top: 305px;
    margin-left: 10px;
    cursor: pointer;
    color: #4b3424;
    background-color: moccasin;
    border-radius: 50%;
    border: 2px solid moccasin;
}
#goBack:hover{
    color: moccasin;
    background-color: #4b3424;
    border-radius: 50%;
    border: 2px solid #4b3424;
}


#routerDiv{
    
    margin: 25px auto;
    width: 80%;

}
