

<div id="goBack">
    <fa-icon id="backIcon" [icon]="backIcon" size="2x" (click)="goBackTo()"></fa-icon>
  </div>


<h3>A little about us and our coffee</h3>
<div id="aboutUsMain">
<div id="aboutUsDiv">
    <div id="pDiv">
        <h5>Who we are?</h5>
    <p>
        <span class="pSpan">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis recusandae hic eius suscipit voluptate placeat mollitia debitis minima molestias, dolorum nulla. Tempora, nostrum officiis. Voluptas in sint praesentium velit fugiat?</span>
        <span class="pSpan">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis recusandae hic eius suscipit voluptate placeat mollitia debitis minima molestias, dolorum nulla. Tempora, nostrum officiis. Voluptas in sint praesentium velit fugiat?</span>
        <span class="pSpan">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis recusandae hic eius suscipit voluptate placeat mollitia debitis minima molestias, dolorum nulla. Tempora, nostrum officiis. Voluptas in sint praesentium velit fugiat?</span>
    </p>
    </div>
</div>

<div id="aboutCoffeeDiv">
    <div id="pDiv">
        <h5>Our Coffee</h5>
    <p>
        <span class="pSpan">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis recusandae hic eius suscipit voluptate placeat mollitia debitis minima molestias, dolorum nulla. Tempora, nostrum officiis. Voluptas in sint praesentium velit fugiat?</span>
        <span class="pSpan">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis recusandae hic eius suscipit voluptate placeat mollitia debitis minima molestias, dolorum nulla. Tempora, nostrum officiis. Voluptas in sint praesentium velit fugiat?</span>
        <span class="pSpan">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis recusandae hic eius suscipit voluptate placeat mollitia debitis minima molestias, dolorum nulla. Tempora, nostrum officiis. Voluptas in sint praesentium velit fugiat?</span>
    </p>
    </div>
</div>

</div>