
#aboutUsDiv, #aboutCoffeeDiv{
    font-family: cursive;
    padding: 25px;
    width: 49%;
    display: inline-block;
}

/* about us hover effect start*/
#aboutUsDiv{
    z-index: 1;
}
#overlapDiv{
    z-index: 2;
    position: absolute;
    top: 494px;
    left: 25px;
}
#overlapDiv:hover{
    display: none;
}
#aboutUsDiv:hover{
    z-index: 3;
}
#overlapDiv img{
    width: 694.4px;
    height: 418px;
    border-radius: 15px;
    border: 5px solid  #4b3424;
}
/* about us hover effect end*/

/* about coffee hover effect start*/
#aboutCoffeeDiv{
    z-index: 1;
}
#overlapDiv2{
    z-index: 2;
    position: absolute;
    top: 494px;
    right: 55px;
    border-radius: 15px;
}
#overlapDiv2:hover{
    display: none;
}
#aboutCoffeeDiv:hover{
    z-index: 3;
}
#overlapDiv2 img{
    width: 694.4px;
    height: 418px;
    border-radius: 15px;
    border: 5px solid  #4b3424;
}
/* about coffee hover effect end*/

.h3Overlay{
    position: absolute;
    top: 100px;
    left: 15%;
    background-color: #f5f5dc5e;
    font-weight: 700;
}

#aboutUsMain{
    display: flex;
    flex-wrap: wrap;
}
h3{
    text-align: center;
    color:  #4b3424;
    border-bottom: solid 5px #4b3424;
    border-radius: 15px;
    width: 500px;
    margin: auto;
    font-weight: 600;
    margin-top: 35px;
    margin-bottom: 35px;
}
#h3Div{
    margin-top: 25px;
    margin-bottom: 45px;
}
#pDiv{
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
    background-color: moccasin;
    border-radius: 15px;
}
#pDiv p{
    margin: 35px;
    
}
#pDiv img{
    width: 28%;
    border-radius: 25%;
    margin: auto;
}
.pSpan{
    display: inline-block;
    margin: auto 85px;
    width: 80%;
    margin-bottom: 10px;
    color:  #4b3424;
    font-weight: 600;
}