
#aboutUsDiv, #aboutCoffeeDiv{
    font-family: cursive;
    padding: 25px;
    width: 49%;
    display: inline-block;
}

#aboutUsDiv{
    background-image: url('../../assets/aboutus1.jpg');
    background-size: cover;
}
#aboutCoffeeDiv{
    background-image: url('../../assets/aboutus.jpg');
    background-size: cover;
}





#aboutUsMain{
    display: flex;
    flex-wrap: wrap;
}
h3{
    text-align: center;
    color:  #4b3424;
    border-bottom: solid 5px #4b3424;
    border-radius: 15px;
    width: 500px;
    margin: auto;
    font-weight: 600;
    margin-top: 35px;
    margin-bottom: 35px;
}
h5{
    text-align: center;
    color:  #1a1009;
    border-bottom: solid 5px #4b3424;
    border-radius: 15px;
    width: 200px;
    margin: auto;
    font-weight: 600;
    margin-top: 35px;
    margin-bottom: 35px;
}
#h3Div{
    margin-top: 25px;
    margin-bottom: 45px;
}
#pDiv{
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
    background-color: #ffe4b58f;
    border-radius: 15px;
}
#pDiv p{
    margin: 35px;
    
}
#pDiv img{
    width: 28%;
    border-radius: 25%;
    margin: auto;
}
.pSpan{
    display: inline-block;
    margin: auto 85px;
    width: 80%;
    margin-bottom: 10px;
    color:  #1a1009;
    font-weight: 600;
}

#goBack{
    position: absolute;
    top: 305px;
    margin-left: 10px;
    cursor: pointer;
    color: #4b3424;
    background-color: moccasin;
    border-radius: 50%;
    border: 2px solid moccasin;
}
#goBack:hover{
    color: moccasin;
    background-color: #4b3424;
    border-radius: 50%;
    border: 2px solid #4b3424;
}


@media(max-width:800px){

    #overlapDiv, #overlapDiv2{
        display: none;
    }

    #goBack{
        top: 132px;
    }
    h3{
        margin-top: 65px;
        font-size: 15px;
        width: 62%;
        border-bottom: 2px solid #4b3424;
        font-weight: 600;
    }
    #aboutUsMain{
        width: 98%;
        display: block;
        margin: 0px;
    }
    #aboutUsDiv{
        display: block;
        width: 98%;
        margin: 0px;
        padding: 5px;
    }
    #aboutUsDiv h5{
        font-size: 15px;
        width: 36%;
        border-bottom: 2px solid #4b3424;
        margin-bottom: 10px;
    }
    #pDiv{
        width: 60%;
        margin: auto;
    }
    #pDiv p{
        margin: 5px;
    }
    .pSpan{
        margin: 5px;
        font-size: 10px;
        width: 98%;
        text-align: center;
    }


    /* Our Coffee DIV **/
    #aboutCoffeeDiv h5{
        font-size: 15px;
        width: 36%;
        border-bottom: 2px solid #4b3424;
        margin-bottom: 10px;
    }

    #aboutCoffeeDiv{
        display: block;
        width: 98%;
        margin: 0px;
        padding: 5px;
    }

}