
<h3>A little about us and our coffee</h3>
<div id="aboutUsMain">
<div id="aboutUsDiv">
    <div id="pDiv">
    <p>
        <span class="pSpan">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis recusandae hic eius suscipit voluptate placeat mollitia debitis minima molestias, dolorum nulla. Tempora, nostrum officiis. Voluptas in sint praesentium velit fugiat?</span>
        <span class="pSpan">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis recusandae hic eius suscipit voluptate placeat mollitia debitis minima molestias, dolorum nulla. Tempora, nostrum officiis. Voluptas in sint praesentium velit fugiat?</span>
        <span class="pSpan">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis recusandae hic eius suscipit voluptate placeat mollitia debitis minima molestias, dolorum nulla. Tempora, nostrum officiis. Voluptas in sint praesentium velit fugiat?</span>
    </p>
    </div>
</div>
<div id="overlapDiv">
    <h3 class="h3Overlay">About Us</h3>
    <img src="../../assets/aboutus1.jpg">
</div>
<div id="overlapDiv2">
    <h3 class="h3Overlay">About Our Coffee</h3>
    <img src="../../assets/aboutus.jpg">
</div>

<div id="aboutCoffeeDiv">
    <div id="pDiv">
    <p>
        <span class="pSpan">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis recusandae hic eius suscipit voluptate placeat mollitia debitis minima molestias, dolorum nulla. Tempora, nostrum officiis. Voluptas in sint praesentium velit fugiat?</span>
        <span class="pSpan">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis recusandae hic eius suscipit voluptate placeat mollitia debitis minima molestias, dolorum nulla. Tempora, nostrum officiis. Voluptas in sint praesentium velit fugiat?</span>
        <span class="pSpan">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis recusandae hic eius suscipit voluptate placeat mollitia debitis minima molestias, dolorum nulla. Tempora, nostrum officiis. Voluptas in sint praesentium velit fugiat?</span>
    </p>
    </div>
</div>

</div>