

<div id="goBack">
  <fa-icon id="backIcon" [icon]="backIcon" size="2x" (click)="goBackTo()"></fa-icon>
</div>

<h3>Sign Into Your Account:</h3>

<div id="loginDiv">

  <div id="formDiv">

    <div id="googleSignIn" (click)="loginWithGoogle()">
      <fa-icon id="googleIcon" [icon]="googleIcon" size="1x"></fa-icon>
      <h5 id="signH5">Sign With Google</h5>
      </div>
      <h5>OR</h5>
    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <div>
      <input type="email" id="emailInput" placeholder="Enter Email" class="form-control" formControlName = "email">
      <span class="help-block" *ngIf="!loginForm.get('email').valid && loginForm.get('email').touched">Either Email is incorrect Or Is Not Registered</span>
      </div>
      <div>
      <input type="password" id="passwordInput" placeholder="Enter Password" class="form-control" formControlName = "password">
      <span class="help-block" *ngIf="!loginForm.get('password').valid && loginForm.get('password').touched">Enter Password To Proceed</span>
    </div>
      <button [disabled]="!loginForm.valid">Sign In</button>
      <span id="errMsg">{{errMsg}}</span>
    </form>
  </div>
</div>