
<div id="goBack">
    <fa-icon id="backIcon" [icon]="backIcon" size="2x" (click)="goBackTo()"></fa-icon>
</div>

<div id="backToTop">
    <fa-icon id="upIcon" [icon]="upIcon" size="2x" (click)="navigateToSection('menuCategory')"></fa-icon>
</div>

<div id="menuCategory">
    <div id="appetizersDiv">
        <a fragment="account-about" (click)="navigateToSection('appetizers')"><h3>Appetizers</h3></a> 
    </div>
    <div id="entreesDiv">
        <a fragment="account-about" (click)="navigateToSection('entrees')"><h3>Entrees</h3></a>
    </div>
    <div id="hotBeveragesDiv">
        <a fragment="account-about" (click)="navigateToSection('hotBeverages')"><h3>Hot Beverages</h3></a>
    </div>
    <div id="coldBeveragesDiv">
        <a fragment="account-about" (click)="navigateToSection('coldBeverages')"><h3>Cold Beverages</h3></a>
    </div>
    <div id="dessertsDiv">
        <a fragment="account-about" (click)="navigateToSection('desserts')"><h3>Dessert</h3></a>
    </div>
</div>

<div id="myMenu">
<div id="myProducts">

    <div class="menuDiv" id="appetizers">
        <div id="h3Div"><h3>Appetizers</h3></div>
            <div class="displayMenuDiv">
                <div class="menu" *ngFor="let dish of myAppetizersArry">
                    <div class="dishDiv">
                        <h3>{{dish.dishName}} <fa-icon *ngIf="dish.dishVeganOption" id="veganIcon" [icon]="veganIcon" size="1x"></fa-icon></h3>
                        <p id="dishDescription"><span>{{dish.dishDescription}}</span></p>
                        <div id="sizeSelect">
                            <section class="dishPriceSection">
                                <label for="dishPriceBtn">{{dish.dishPrice | currency:'ILS':'symbol'}}</label>
                                <button (click)="selectedDish(dish)" id="dishPriceBtn">ADD</button>
                            </section>
                        </div>
                    </div>
                    <div id="imgDiv">
                        <img src="{{dish.dishPicture}}">
                    </div>
                </div>
            </div>
        </div>

        <div class="menuDiv" id="entrees">
            <div id="h3Div"><h3>Entrees</h3></div>
                <div class="displayMenuDiv">
                    <div class="menu" *ngFor="let dish of myEntreesArry">
                        <div class="dishDiv">
                            <h3>{{dish.dishName}} <fa-icon *ngIf="dish.dishVeganOption" id="veganIcon" [icon]="veganIcon" size="1x"></fa-icon></h3>
                            <p id="dishDescription"><span>{{dish.dishDescription}}</span></p>
                            <div id="sizeSelect">
                                <section class="dishPriceSection">
                                    <label for="dishPriceBtn">{{dish.dishPrice | currency:'ILS':'symbol'}}</label>
                                    <button (click)="selectedDish(dish)" id="dishPriceBtn">ADD</button>
                                </section>
                            </div>
                        </div>
                        <div id="imgDiv">
                            <img src="{{dish.dishPicture}}">
                        </div>
                    </div>
                </div>
            </div>

            <div class="menuDiv" id="desserts">
                <div id="h3Div"><h3>Desserts</h3></div>
                    <div class="displayMenuDiv">
                        <div class="menu" *ngFor="let dish of myDessertArry">
                            <div class="dishDiv">
                                <h3>{{dish.dishName}} <fa-icon *ngIf="dish.dishVeganOption" id="veganIcon" [icon]="veganIcon" size="1x"></fa-icon></h3>
                                <p id="dishDescription"><span>{{dish.dishDescription}}</span></p>
                                <div id="sizeSelect">
                                    <section class="dishPriceSection">
                                        <label for="dishPriceBtn">{{dish.dishPrice | currency:'ILS':'symbol'}}</label>
                                        <button (click)="selectedDish(dish)" id="dishPriceBtn">ADD</button>
                                    </section>
                                </div>
                            </div>
                            <div id="imgDiv">
                                <img src="{{dish.dishPicture}}">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="menuDiv" id="hotBeverages">
                    <div id="h3Div"><h3>Hot Beverages</h3></div>
                        <div id="displayBeveragesDiv">
                            <div class="menuBeverage" *ngFor="let dish of myHotBeverages">
                                <div class="beverageDiv">
                                    <h3>{{dish.dishName}} <fa-icon id="veganIcon" *ngIf="dish.dishVeganOption" [icon]="veganIcon" size="1x"></fa-icon></h3>
                                    <div id="sizeSelect">
                                        <section class="dishPriceSection">
                                            <label for="dishPriceBtn">{{dish.dishPrice | currency:'ILS':'symbol'}}</label>
                                            <button (click)="selectedDish(dish)" id="dishPriceBtn">ADD</button>
                                        </section>
                                    </div>
                                </div>
                                <div id="imgDiv">
                                    <img src="{{dish.dishPicture}}">
                                </div>
                            </div>
                        </div>
                    </div>


            <div class="menuDiv" id="coldBeverages">
                <div id="h3Div"><h3>Cold Beverages</h3></div>
                    <div id="displayBeveragesDiv">
                        <div class="menuBeverage" *ngFor="let dish of myColdBeverages">
                            <div class="beverageDiv">
                                <h3>{{dish.dishName}} <fa-icon id="veganIcon" *ngIf="dish.dishVeganOption" [icon]="veganIcon" size="1x"></fa-icon></h3>
                                <div id="sizeSelect">
                                    <section class="dishPriceSection">
                                        <label for="dishPriceBtn">{{dish.dishPrice | currency:'ILS':'symbol'}}</label>
                                        <button (click)="selectedDish(dish)" id="dishPriceBtn">ADD</button>
                                    </section>
                                </div>
                            </div>
                            <div id="imgDiv">
                                <img src="{{dish.dishPicture}}">
                            </div>
                        </div>
                    </div>
                </div>
</div>
<div id="showOrderDiv">
    <div id="orderDiv">
    <h3>Current Order</h3>
    <div id="orderDivItems" *ngFor="let show of showCurrentOrder">
        <h5>{{show.dishName}} {{show.dishPrice | currency:'ILS':'symbol'}}  <span (click)="removeItem(show.dishId)"><fa-icon id="trashIcon" [icon]="trashIcon" size="1x"></fa-icon></span></h5>
    </div>
    <hr>
    <div id="sumDiv">
        <span>Order Sum</span> {{totalSum | currency:'ILS':'symbol'}}
    </div>
    <div id="proceedToPay">
        <button class="btnStyle" (click)="proceedToCheckout()">Proceed To CheckOut</button>
        <p>{{errMsg}}</p>
        <button class="btnStyle" (click)="clearOrder()">Clear Order</button>
    </div>
</div>
</div>
</div>









