
<div id="goBack">
    <fa-icon id="backIcon" [icon]="backIcon" size="2x" (click)="goBackTo()"></fa-icon>
</div>

<div id="myMenu">
<div id="myProducts">
<div id="menuDivCoffee">
<div id="h3Div"><h3>Coffee</h3></div>
    <div id="displayMenuDivCoffee">
        <div id="menuCoffee" *ngFor="let dish of myCoffeeArry">
            <div id="dishDivCoffee">
                <h3>{{dish.dishName}} <fa-icon id="veganIcon" [icon]="veganIcon" size="1x"></fa-icon></h3>
                <p id="dishDescription"><span>{{dish.dishDescription}}</span></p>
                <div id="sizeSelect">
                    <section  *ngIf="dish.dishPrice[0]" id="smallSizeSection">
                        <label for="sizeSmall">{{dish.dishSize[0]}}</label>
                        <button (click)="selectedSize(dish.dishPriceId[0].small, dish.dishName, dish.dishPrice[0])" id="sizeSmall">{{dish.dishPrice[0] | currency:'ILS':'symbol'}}</button>
                    </section>

                    <section *ngIf="dish.dishPrice[1]" id="mediumSizeSection">
                        <label for="sizeMedium">{{dish.dishSize[1]}}</label>
                        <button (click)="selectedSize(dish.dishPriceId[1].medium, dish.dishName, dish.dishPrice[1])" id="sizeMedium">{{dish.dishPrice[1] | currency:'ILS':'symbol'}}</button>
                    </section>

                    <section *ngIf="dish.dishPrice[2]" id="largeSizeSection">
                        <label for="sizeLarge">{{dish.dishSize[2]}}</label>
                        <button (click)="selectedSize(dish.dishPriceId[2].large, dish.dishName, dish.dishPrice[2])" id="sizeLarge">{{dish.dishPrice[2] | currency:'ILS':'symbol'}}</button>
                    </section>
                </div>
            </div>
            <div id="imgDiv">
                <img src="{{dish.dishPicture}}">
            </div>
        </div>
    </div>
</div>

<div id="menuDivHotChocolate">
    <div id="h3Div"><h3>Hot Chocolate</h3></div>
        <div id="displayMenuDivHotChocolate">
            <div id="menuHotChocolate" *ngFor="let dish of myHotChocolateArry">
                <div id="dishDivHotChocolate">
                    <h3>{{dish.dishName}} <fa-icon id="veganIcon" [icon]="veganIcon" size="1x"></fa-icon></h3>
                    <p id="dishDescription"><span>{{dish.dishDescription}}</span></p>
                    <div id="sizeSelect">
                        <section  *ngIf="dish.dishPrice[0]" id="smallSizeSection">
                            <label for="sizeSmall">{{dish.dishSize[0]}}</label>
                            <button (click)="selectedSize(dish.dishPriceId[0].small, dish.dishName, dish.dishPrice[0])" id="sizeSmall">{{dish.dishPrice[0] | currency:'ILS':'symbol'}}</button>
                        </section>
    
                        <section *ngIf="dish.dishPrice[1]" id="mediumSizeSection">
                            <label for="sizeMedium">{{dish.dishSize[1]}}</label>
                            <button (click)="selectedSize(dish.dishPriceId[1].medium, dish.dishName, dish.dishPrice[1])" id="sizeMedium">{{dish.dishPrice[1] | currency:'ILS':'symbol'}}</button>
                        </section>
    
                        <section *ngIf="dish.dishPrice[2]" id="largeSizeSection">
                            <label for="sizeLarge">{{dish.dishSize[2]}}</label>
                            <button (click)="selectedSize(dish.dishPriceId[2].large, dish.dishName, dish.dishPrice[2])" id="sizeLarge">{{dish.dishPrice[2] | currency:'ILS':'symbol'}}</button>
                        </section>
                    </div>
                </div>
                <div id="imgDiv">
                    <img src="{{dish.dishPicture}}">
                </div>
            </div>
        </div>
        </div>

        <div id="menuDivTea">
            <div id="h3Div"><h3>Tea</h3></div>
                <div id="displayMenuDivTea">
                    <div id="menuTea" *ngFor="let dish of myTeaArry">
                        <div id="dishDivTea">
                            <h3>{{dish.dishName}} <fa-icon id="veganIcon" [icon]="veganIcon" size="1x"></fa-icon></h3>
                            <p id="dishDescription"><span>{{dish.dishDescription}}</span></p>
                            <div id="sizeSelect">
                                <section  *ngIf="dish.dishPrice[0]" id="smallSizeSection">
                                    <label for="sizeSmall">{{dish.dishSize[0]}}</label>
                                    <button (click)="selectedSize(dish.dishPriceId[0].small, dish.dishName, dish.dishPrice[0])" id="sizeSmall">{{dish.dishPrice[0] | currency:'ILS':'symbol'}}</button>
                                </section>
            
                                <section *ngIf="dish.dishPrice[1]" id="mediumSizeSection">
                                    <label for="sizeMedium">{{dish.dishSize[1]}}</label>
                                    <button (click)="selectedSize(dish.dishPriceId[1].medium, dish.dishName, dish.dishPrice[1])" id="sizeMedium">{{dish.dishPrice[1] | currency:'ILS':'symbol'}}</button>
                                </section>
            
                                <section *ngIf="dish.dishPrice[2]" id="largeSizeSection">
                                    <label for="sizeLarge">{{dish.dishSize[2]}}</label>
                                    <button (click)="selectedSize(dish.dishPriceId[2].large, dish.dishName, dish.dishPrice[2])" id="sizeLarge">{{dish.dishPrice[2] | currency:'ILS':'symbol'}}</button>
                                </section>
                            </div>
                        </div>
                        <div id="imgDiv">
                            <img src="{{dish.dishPicture}}">
                        </div>
                    </div>
                </div>
            </div>
</div>
<div id="showOrderDiv">
    <div id="orderDiv">
    <h3>Current Order</h3>
    <div id="orderDivItems" *ngFor="let show of showCurrentOrder">
        <h5>{{show.dishName}} {{show.dishPrice | currency:'ILS':'symbol'}}  <span (click)="removeItem(show.dishId)"><fa-icon id="trashIcon" [icon]="trashIcon" size="1x"></fa-icon></span></h5>
    </div>
    <hr>
    <div id="sumDiv">
        <span>Order Sum</span> {{totalSum | currency:'ILS':'symbol'}}
    </div>
    <div id="proceedToPay">
        <button (click)="proceedToCheckout()">Proceed To CheckOut</button>
        <p>{{errMsg}}</p>
        <button (click)="clearOrder()">Clear Order</button>
    </div>
</div>
</div>
</div>









