

#menuCategory{
    width: 65%;
    margin: 15px auto;
    font-family: cursive;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: moccasin;
    border: 3px solid brown;
    border-radius: 65px;
}

#appetizersDiv, #entreesDiv, #hotBeveragesDiv, #coldBeveragesDiv, #dessertsDiv{
    width: 15%;
    height: 110px;
    margin: 25px;
    display: inline-block;
    text-align: center;
    padding-top: 40px;
    cursor: pointer;
}
#appetizersDiv h3, #entreesDiv h3, #hotBeveragesDiv h3, #coldBeveragesDiv h3, #dessertsDiv h3{
    width: 100%;
    margin: auto;
    background: #ffffff57;
    border-radius: 15px;
    color: #3f1906;
    font-weight: 600;
}
#appetizersDiv{
    background-image: url('../../assets/menu/appetizers1.jpeg');
    border-radius: 50%;
    border: 2px solid #4b3424;
    background-size: contain;
}
#entreesDiv{
    background-image: url('../../assets/menu/entree.jpeg');
    border-radius: 50%;
    border: 2px solid #4b3424;
    background-size: contain;
}
#hotBeveragesDiv{
    background-image: url('../../assets/menu/hotbeverages.jpeg');
    border-radius: 50%;
    border: 2px solid #4b3424;
    background-size: contain;
}
#coldBeveragesDiv{
    background-image: url('../../assets/menu/coldbeverages.jpeg');
    border-radius: 50%;
    border: 2px solid #4b3424;
    background-size: contain;
}
#dessertsDiv{
    background-image: url('../../assets/menu/dessert.jepg.jpg');
    border-radius: 50%;
    border: 2px solid #4b3424;
    background-size: contain;
}



#myMenu{
    font-family: cursive;
    display: flex;
    flex-wrap: wrap;
}
#myProducts{
    width: 80%;
}
span{
    color: brown;
}
#veganIcon{
    color: green;
}
.menuDiv{
    display: flex;
    flex-wrap: wrap;
}
.displayMenuDiv{
    width: 90%;
    margin: 10px 0px 10px 0px;
}
#displayBeveragesDiv{
    width: 90%;
    margin: 10px 0px 10px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.menuBeverage{
    width: 38%;
    margin: 15px 0px 15px 20px;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    border: 5px solid brown;
    border-radius: 15px;
    background-color: moccasin;
}
#menuCategory a h3{
    font-size: 20px;
}
#beverageDiv{
    width: 54%;
}
#h3Div{
    width: 10%;
}
#h3Div h3{
    text-align: center;
    position: sticky;
    top: 150px;
    color: #4b3424;
    font-size: 23px;
    font-weight: 600;
    margin: 2px;
    border-bottom: 5px solid #4b3424;
    border-radius: 15px;
}
.menu{
    margin: 15px 0px 15px 20px;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    border: 5px solid brown;
    border-radius: 15px;
    background-color: moccasin;
}

.dishDiv{
    width: 72%;
}
.dishDiv h3, .beverageDiv h3{
    margin: 15px;
    text-align: center;
    color: #4b3424;
    font-weight: 600;
    font-size: 20px;
    text-decoration: underline;
    width: 225px;
}
.menu img{
    display: block;
    width: 235px;
    height: 150px;
    border: 5px solid #4b3424;
    border-radius: 50%;
    margin: auto;
}
#imgDiv{
    width: 23%;
    padding: 15px;
}
#displayBeveragesDiv #imgDiv img{
    display: block;
    width: 155px;
    height: 150px;
    border: 5px solid #4b3424;
    border-radius: 50%;
    margin: auto;
}
#dishDescription, #dishPrice, #dishSize, #dishVeganOption{
    margin: 25px 0px 25px 0px;
    font-weight: 500;
    font-size: 15px;
    color: #4b3424;
    width: 645px;
}
.btnStyle{
    display: block;
    width: 245px;
    height: 40px;
    border-radius: 15px;
    border: 0px;
    margin: auto;
    margin-top: 35px;
    background-color: #4b3424;
    color: burlywood;
}
.btnStyle:hover{
    background-color: burlywood;
    color:  #4b3424;
    background-color: moccasin;
    border: 2px solid #4b3424;
    transition: 700ms;
}

#showOrderDiv{
    width: 20%;
    padding: 22px 5px 25px 5px;
    text-align: center;
}
#orderDiv{
    position: sticky;
    top: 25px;
}

#sizeSmall, #sizeMedium, #sizeLarge{
    display: inline;
    width: 130px;
    height: 40px;
    border-radius: 15px;
    border: 0px;
    margin: auto;
    margin-top: 0px;
    background-color: #4b3424;
    color: burlywood;
    cursor: default;
}
#dishPriceBtn{
    display: inline;
    width: 130px;
    height: 40px;
    border-radius: 15px;
    border: 0px;
    margin: auto;
    margin-top: 0px;
    background-color: #4b3424;
    color: burlywood;
}
#dishPriceBtn:hover{
    background-color: moccasin;
    color: #4b3424;
    border: 2px solid #4b3424;
}
#dishPriceBtn:active{
    background-color: #4b3424;
    color: burlywood;
}
label{
    margin: 7px 5px 5px 0px;
    font-weight: 600;
    width: 100px;
    text-align: center;
}
#orderDivItems{
    border-bottom: 5px solid #4b3424;
    border-radius: 15px;
    margin-bottom: 10px;
}
#smallSizeSection, #mediumSizeSection, #largeSizeSection{
    background-color: burlywood;
    width: 235px;
    height: 40px;
    border-radius: 15px;
    margin: 15px 20px 15px 0px;
    display: inline-block;
}
.dishPriceSection{
    background-color: burlywood;
    width: 235px;
    height: 40px;
    border-radius: 15px;
    margin: 15px 20px 15px 0px;
    display: inline-block;
}
#orderDiv{
    border: 5px solid #4b3424;
    border-radius: 15px;
    padding: 9px;
    background-color: moccasin;
}

P{
    color: red;
    display: block;
    margin: 15px auto;
    font-weight: 700;
}

#trashIcon{
    cursor: pointer;
}

#goBack{
    position: absolute;
    top: 305px;
    margin-left: 10px;
    cursor: pointer;
    color: #4b3424;
    background-color: moccasin;
    border-radius: 50%;
    border: 2px solid moccasin;
}
#goBack:hover{
    color: moccasin;
    background-color: #4b3424;
    border-radius: 50%;
    border: 2px solid #4b3424;
}

#backToTop{
    color: #4b3424;
    background-color: moccasin;
    display: inline-block;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    position: fixed;
    right: 25px;
    border: 2px solid moccasin;
    cursor: pointer;
    top: 700px;
}

#backToTop:hover{
    color: moccasin;
    background-color: #4b3424;
    border: 2px solid #4b3424;
}


@media(max-width:800px){

    #goBack{
        top: 132px;
    }

    #h3Div{
        display: none;
    }
    #myProducts{
        width: 55%;
    }
    #displayMenuDivCoffee, #displayMenuDivHotChocolate, #displayMenuDivTea{
        margin-top: 50px;
        width: 85%;
    }
    #menuCoffee, #menuHotChocolate, #menuTea{
        width: 90%;
    }
    #dishDivCoffee, #dishDivHotChocolate, #dishDivTea{
        width: 100%;
    }
    #dishDivCoffee h3, #dishDivHotChocolate h3, #dishDivTea h3{
        font-size: 15px;
    }
    #dishDescription{
        font-size: 10px;
    }
    #imgDiv{
        display: block;
        margin: auto;
    }
    #imgDiv img{
        width: 90px;
        height: 60px;
    }

    #smallSizeSection, #mediumSizeSection,#mediumSizeSection, #largeSizeSection{
        width: 110px;
        height: 30px;
    }
    #smallSizeSection label,#mediumSizeSection label, #largeSizeSection label{
        width: 20px;
        font-size: 10px;
    }
    #sizeSmall,#sizeMedium, #sizeLarge{
        width: 50px;
        height: 30px;
        font-size: 10px;
    }

    #showOrderDiv{
        width: 40%;
        margin-top: 50px;
    }
    #orderDiv h3{
        font-size: 15px;
        font-weight: 600;
        color: #4c3424;
    }
    #orderDiv{
        padding: 3px;
    }
    #orderDivItems{
        border-bottom: 2px solid #4b3424;
    }
    #orderDivItems h5, #sumDiv{
        font-size: 10px;
        font-weight: 600;

    }
    #proceedToPay button{
        width: 118px;
        font-size: 10px;
        height: 30px;
        margin-top: 20px;
    }






}