

<h2>Change Your Password</h2>

<form [formGroup]="changeForm" (submit)="change()">
    <section>
        <label for="passwordInput">Password</label>
        <input type="password" id="passwordInput" class="form-control" formControlName="password" placeholder="Enter Your Password">
        <span class="help-block" *ngIf="!changeForm.get('password').valid && changeForm.get('password').touched">Please enter a password that contain letters, numbers and atleast 6 char long </span>
        <button>Change <fa-icon *ngIf="activateIcon" id="doubleCheck" [icon]="doubleCheck" size="1x"></fa-icon> </button>
    </section>
</form>