
<div id="goBack">
  <fa-icon id="backIcon" [icon]="lArrowIcon" size="2x" (click)="goBackTo()"></fa-icon>
</div>

 <div id="address">
    <div id="addressDiv">
      <h3 class="orderH3">Address</h3>
      <div id="enterAddress">
        <form [formGroup]="addressForm" (ngSubmit)="proceedToNext()">
          <section>
            <label for="cityInput">*City</label>
            <input type="text" id="cityInput" class="form-control" formControlName="addressCity" placeholder="City"/>
            <span class="help-block" *ngIf="!addressForm.get('addressCity').valid && addressForm.get('addressCity').touched">Enter City</span>
          </section>
  
          <section>
            <label for="addressInput">*Street Address</label>
            <input type="text" id="addressInput" class="form-control" formControlName="addressStreet" placeholder="Street"/>
            <span class="help-block" *ngIf="!addressForm.get('addressStreet').valid && addressForm.get('addressStreet').touched">Enter Street Address</span>
          </section>
  
          <section>
            <label for="apartmentInput">*Apartment</label>
            <input type="text" id="apartmentInput" class="form-control" formControlName="addressApartment" placeholder="Apartment"/>
            <span class="help-block" *ngIf="!addressForm.get('addressApartment').valid && addressForm.get('addressApartment').touched">Enter Apartment Number</span>
          </section>
  
          <section>
            <label for="zipInput">Zipcode</label>
            <input type="number" id="zipInput" class="form-control" formControlName="addressZip" placeholder="ZipCode"/>
          </section>

          <button [disabled]="!addressForm.valid">Proceed <fa-icon id="rArrowIcon" [icon]="rArrowIcon" size="1x" (click)="goBackTo()"></fa-icon></button>
        </form>
      </div>
    </div>
    </div>