
#userSettings{
    font-family: cursive;
    margin: 15px auto;
    background-color: moccasin;
    border-radius: 5px;
    width: fit-content;
}

#navbarSupportedContent ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0px;
}

#accountInfoLi, #postsCommentsLi, #orderHistoryLi,#usersDataLi, #signOutLi{
    margin: 5px;
    cursor: pointer;
    display: inline-block;
}
#accountInfoLi a, #postsCommentsLi a, #orderHistoryLi a,#usersDataLi a, #signOutLi a{
    color: #533210;
    border-radius: 5px;
    background-color: #84521e73;
}

.liClass{
    display: inline-block;
    margin: 5px;
}
#accountInfoLi a:hover, #postsCommentsLi a:hover, #orderHistoryLi a:hover, #usersDataLi a:hover, #signOutLi a:hover{
    background-color: #533210;
    color: moccasin;
}

.navbar-nav.mr-auto{
    display: block;
    margin: auto;
}



@media(max-width:800px){

    #goBack{
        top: 132px;
    }

    #userSettings{
        margin-top: 45px;
    }
    .liClass{
        font-size: 10px;
        font-weight: 600;
    }
}