
<div id="navBarDiv">
<section class="myContainer">
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" id="muffysLink">My Coffee Shop</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <h5 id="responsiveH5">My Coffee Shop</h5>
            <span class="navbar-toggler-icon"></span>
        </button>
        <!--class="collapse navbar-collapse"-->
        <div id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
              
            <div class="navIconsDiv">
                <li id="homeLink" class="nav-item active">
                    <a class="nav-link" (click)="moveTo('')">Home
                        <fa-icon id="homeIcon" [icon]="homeIcon" size="1x"></fa-icon>
                        <span class="sr-only">(current)</span></a>
                </li>
            </div>

            <div class="navIconsDiv">
                <li id="aboutUsLink" class="nav-item active">
                    <a class="nav-link" (click)="moveTo('about-us')">About Us
                        <fa-icon id="aboutUsIcon" [icon]="aboutUsIcon" size="1x"></fa-icon>
                        <span class="sr-only">(current)</span></a>
                </li>
            </div>

            <div class="navIconsDiv">
                <li id="menuLink" class="nav-item active">
                    <a class="nav-link" (click)="moveTo('menu')">Menu
                        <fa-icon id="menuIcon" [icon]="menuIcon" size="1x"></fa-icon>
                        <span class="sr-only">(current)</span></a>
                </li>
            </div>

            <div class="navIconsDiv">
                <li id="forumLink" class="nav-item active">
                    <a class="nav-link" (click)="moveTo('forum')">Forum
                        <fa-icon id="forumIcon" [icon]="forumIcon" size="1x"></fa-icon>
                        <span class="sr-only">(current)</span></a>
                </li>
            </div>

            <div class="navIconsDiv">
                <li id="logInLink" class="nav-item active">
                    <a class="nav-link" (click)="moveTo('login')">Log In
                        <fa-icon id="signInIcon" [icon]="signInIcon" size="1x"></fa-icon>
                        <span class="sr-only">(current)</span></a>
                </li>
            </div>

            <div class="navIconsDiv">
                <li id="slashDiv" class="nav-item active">
                    <a class="nav-link" (click)="moveTo('login')">/
                        <span class="sr-only">(current)</span></a>
                </li>
            </div>

            <div class="navIconsDiv">
                <li id="registerLink" class="nav-item active">
                    <a class="nav-link" (click)="moveTo('register')">Register
                        <fa-icon id="userEditIcon" [icon]="userEditIcon" size="1x"></fa-icon>
                        <span class="sr-only">(current)</span></a>
                </li>
            </div>

            <div class="navIconsDiv">
                <li id="registerLink" class="nav-item active">
                    <a class="nav-link" (click)="moveToWithFire()">Settings
                        <fa-icon id="userEditIcon" [icon]="userCog" size="1x"></fa-icon>
                        <span class="sr-only">(current)</span></a>
                </li>
            </div>

            <div class="navIconsDiv">
                <li id="cartLink" class="nav-item active">
                    <a class="nav-link" (click)="moveToCheckout()">{{num}}
                        <fa-icon id="cartIcon" [icon]="cartIcon" size="1x"></fa-icon>
                        <span class="sr-only">(current)</span></a>
                </li>
            </div>

          </ul>
        </div>
    </nav>
</section>
</div>
