
<div id="goBack">
    <fa-icon id="backIcon" [icon]="backIcon" size="2x" (click)="goBackTo()"></fa-icon>
  </div>
<div id="accountInfoDiv">
            <h3>My Info / Change My Info</h3>
    <div id="accountInfoDivDisplay">

        <div id="infoDiv">
                <section>
                    <span>Firstname:</span>
                    <p *ngIf=loggedUser>{{loggedUser.firstname}}</p>
                    <button (click)="showChangeDiv('change-firstname')">Change</button>
                </section>
                
                <section>
                    <span>Lastname:</span>
                    <p *ngIf=loggedUser>{{loggedUser.lastname}}</p>
                    <button (click)="showChangeDiv('change-lastname')">Change</button>                
                </section>

                <section>
                    <span>Date Of Birth:</span>
                    <p *ngIf=loggedUser>{{loggedUser.dateOfBirth}}</p>
                    <button (click)="showChangeDiv('change-dob')">Change</button>                
                </section>

                <section>
                    <span>Email:</span>
                    <p *ngIf=loggedUser>{{loggedUser.email}}</p>
                    <button [disabled]="true">Change</button>                
                </section>
    
    
                <section>
                    <span>Phone Number</span>
                    <p *ngIf=loggedUser>0{{loggedUser.phone}}</p>
                    <button (click)="showChangeDiv('change-phone')">Change</button>                
                </section>


                <section id="addressDiv">
                    
                    <div>
                        <span>City</span>
                        <p *ngIf=loggedUser>{{loggedUser.address.addressCity}}</p>
                    </div>

                    <div>
                        <span>Street Address</span>
                        <p *ngIf=loggedUser>{{loggedUser.address.addressStreet}}</p>
                    </div>

                    <div>
                        <span>Apartment Number</span>
                        <p *ngIf=loggedUser>{{loggedUser.address.addressApartment}}</p>
                    </div>

                    <div>
                        <span>ZipCode</span>
                        <p *ngIf=loggedUser>{{loggedUser.address.addressZip}}</p>
                        <button (click)="showChangeDiv('change-address')">Change</button>      
                    </div>    

                </section>

    
                <section>
                    <span>Password</span>
                    <p *ngIf=loggedUser>*********</p>
                    <button (click)="showChangeDiv('change-password')">Change</button>                
                </section>
            </div>

            <div id="changeInfoDiv">
                <div id="stickyDiv">
                <router-outlet ></router-outlet>
                </div>
            </div>
        </div>
</div>
