

<div id="goBack">
  <fa-icon id="backIcon" [icon]="backIcon" size="2x" (click)="goBackTo()"></fa-icon>
</div>

<table class="table">
    <thead>
      <tr>
        <th class="tID" scope="col">Order ID</th>
        <th class="tItems" scope="col">Order Items</th>
        <th class="tDate" scope="col">Order Date</th>
        <th class="tCost" scope="col">Order Cost</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="tID"></td>
        <td class="tItems"></td>
        <td class="tDate"></td>
        <td class="tCost"></td>
      </tr>
    </tbody>
  </table>