

#displayWantedPost{
    width: 80%;
    margin: auto;
    background-color: beige;
    font-family: cursive;
    font-weight: 500;
}
#h3Position, #h3Resume{
    text-align: center;
    color: #7b563c;
    text-decoration: underline;
    margin-bottom: 25px;
}
#pDescription, #pHours{
    text-align: center;
    font-weight: 600;
    color: #7b563c;
}
#wanted{
    width: 60%;
    margin: auto;
    border-bottom: 3px solid brown;
    margin-top: 20px;
    margin-bottom: 20px;
}
form{
    border-bottom: 5px solid brown
}
#sendResume{
    height: 600px;
    text-align: center;
}

#sendResume form input{
    display: inline-block;
    width: 330px;
    height: 45px;
    text-align: center;
    border-top: 2px solid #7b563c;
    border-right: 2px solid #7b563c;
    border-bottom: 2px solid #7b563c;
    border-left: 0px;
    background-color: burlywood;
    color: brown;
    border-radius: 0px 0px 50px 0px;
    margin-top: 15px;
    margin-bottom: 15px;
}
button{
    background-color: burlywood;
    height: 45px;
    width: 85px;
    border-radius: 15px;
    border: 2px solid #7b563c;
    color: #7b563c;
    display: block;
    margin: 25px auto;
}
button:hover{
    transition: 700ms;
    color: burlywood;
    background-color: #7b563c;
    height: 50px;
    width: 90px;
}

label{
    margin: 5px;
    border: 2px solid #7b563c;
    width: 265px;
    height: 45px;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 8px;
    background-color: #7b563c;
    color: beige;
    text-align: center;
    border-radius: 50px 0px 0px 0px;

}

span{
    color: red;
    display: block;
    text-align: center;
    margin: 5px;
}

input.ng-invalid.ng-touched{
    border: 2px solid red;
}
#goBack{
    position: absolute;
    top: 305px;
    margin-left: 10px;
    cursor: pointer;
    color: #4b3424;
    background-color: moccasin;
    border-radius: 50%;
    border: 2px solid moccasin;
}
#goBack:hover{
    color: moccasin;
    background-color: #4b3424;
    border-radius: 50%;
    border: 2px solid #4b3424;
}
